body{
    background-color: #E5E5E5;
}
.nav-link{
    color: black;
}

.button{
    width: 150px;
    background-image: linear-gradient(blue,green,pink);
    font-size: 30px;
    font-weight: bold;
   list-style: none;
   margin-left: 400px;
   border-radius: 20px;
   border: 1px solid red;
   padding: 10px, 15px;
}

.button>a{
    text-decoration: none;
    color: white;
  
}
.icon{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #5243C2;
  background-color: azure;
}
.accordion-item{
    border: 2px solid rgb(136, 164, 189);
   
}

.alert{
    text-align: right;
  width: 300px;
  margin-top: 20px;
 
  margin-bottom: 0px;
  background-color: whitesmoke;
  border-left:5px solid blue ;
}

.iconss{
    width:20px ;
  border: 5px solid rgb(189, 179, 245);
    border-radius: 100%;
    color: tomato;
  
}

.datails{
    background-image: linear-gradient(tomato,rgb(212, 115, 115));
   color: white;
   font-size: 25px;
}

.progress{
    height: 35px;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic  ;
}

.shahin{
    position: relative;
}

.taniya{
    position: absolute;
    top: -15px;
    right: 30px;
}
.hot{
background-color: rgb(202, 91, 17);
border: 1px solid rgb(148, 56, 56);
color: white;
text-align: center;
padding: 3px;
width: 40px;
height: 30px;
border-radius: 50px;


}


.marrid{
    width: 1480px;
    height: 530px;
}
